.login-box {
	display: block;
	position: relative;
	margin: 0 auto;
    width: 50%;
}

.flexbox {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items:center;
	align-items: center;
}

.flex-inline {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	align-items: baseline;
	-webkit-align-items: baseline;
}

.normal-signin {
	height: 300px;
	width:56%;
	padding-top: 2%;
	padding-left: 5%;
	padding-right: 6%;
	text-align: left;
}