{% load staticfiles %}
{% load bootstrap %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Profile</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'profiles/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'profiles/css/clean-blog.min.css' %}" rel="stylesheet">
    <link href="{% static 'profiles/css/custom.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" style="">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{{ company.name }}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'profiles:conflicts' company.name member.netid %}">Your Conflicts</a>
                    </li>
                    <li>
                        <a href="logout/">Logout</a>
                    </li>
                    <li>
                        <a data-toggle="modal" href="{% url 'updates:updateName' company.name member.netid %}" data-target="#form-modal"><span class="fa fa-cog fa-lg"></span></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header flexbox" style="background-image: url({% static 'profiles/img/home-bg.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Welcome, {{ member.first_name }}</h1>
                        <hr class="small">
                        <span class="subheading">This is the scheduling hub for your company</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Form Modal -->
    <div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>    

    <!-- Main Content -->
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-preview">
                        <a href="{% url 'profiles:members' company.name member.netid %}">
                            <h2 class="post-title">
                                Members / Conflicts
                            </h2>
                            <h3 class="post-subtitle">
                                Manage the members and admins of {{ company.name }}, and their conflicts
                            </h3>
                        </a>
                        <p class="post-meta"><a href="#">Set the date by which company members must post their conflicts</a></p>
                    </div>
                    <hr>
                    <div class="post-preview">
                        <a href="{% url 'profiles:spaces' company.name member.netid %}">
                            <h2 class="post-title">
                                Rehearsal Spaces
                            </h2>
                            <h3 class="post-subtitle">
                                Manage all {{ company.name }} rehearsal spaces for the current semester
                            </h3>
                        </a>
                    </div>
                    <hr>
                    <div class="post-preview">
                        <a href="{% url 'profiles:casts' company.name member.netid %}">
                            <h2 class="post-title">
                                Casting
                            </h2>
                            <h3 class="post-subtitle">
                                Manage casting list for the upcoming show and/or performances
                            </h3>
                        </a>
                        <p class="post-meta"><a href="#">Set the date by which company members will be able to see casting results</a></p>
                    </div>
                    <hr>
                    <div class="post-preview">
                        <a href="{% url 'profiles:scheduling' company.name member.netid %}">
                            <h2 class="post-title">
                                Rehearsal Schedule
                            </h2>
                            <h3 class="post-subtitle">
                                Manage the rehearsal schedules for all pieces and/or performances
                            </h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <ul class="list-inline text-center">
                            <li>
                                <a href="https://www.facebook.com/bballinsylvia15">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:nokafor@princeton.edu?Subject=PRISM">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/pub/sylvia-okafor/99/9/a4">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <p class="copyright text-muted">Copyright &copy; ORF401 2015</p>
                    </div>
                </div>
            </div>
        </footer>

    </div>
    
    <!-- jQuery -->
    <script src="{% static 'profiles/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'profiles/js/bootstrap.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'profiles/js/clean-blog.min.js' %}"></script>

    {% if not member.first_name %}
    <a id="getModal" data-toggle="modal" href="{% url 'updates:updateName' company.name member.netid %}" data-target="#name-modal"></a>
    <div class="modal fade" id="name-modal" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <script type="text/javascript">
     $(window).load(function(){
            $('#getModal').click();
        });
    </script>
    {% endif %}

    <script>
        $(document).ready(function(){
            var windowsize = $(window).width();
            if (windowsize >= 768) {
                var scroll_start = 0;
                var startchange = $('.content-wrapper');
                var offset = startchange.offset();
                // var offset = 300;
                 if (startchange.length){
                $(document).scroll(function() { 
                   scroll_start = $(this).scrollTop();
                   if(scroll_start >= offset.top) {
                       $(".navbar").css({
                         'background-color': 'white',
                         'border-bottom':'1px solid black',
                         'box-shadow':'0px 0px 5px 0px rgba(0,0,0,.5)'
                         });
                       $(".nav li a").css('color', 'grey');
                       $(".navbar-brand").css('color', 'grey');
                       
                       // $("#nav-item").each(function(){
                       //   $(this).css('color', 'grey');
                       // });

                    } else {
                       $('.navbar').css({
                         'background-color': 'transparent',
                         'border-bottom':'1px solid transparent',
                         'box-shadow':'0px 0px 0px 0px rgba(0,0,0,.5)'
                         });

                       $(".nav li a").css('color', 'white');
                       $(".navbar-brand").css('color', 'white');

                       // $("#nav-item").each(function(){
                       //   $(this).css('color', 'white');
                       // });

                    }
                });
                 }
            }       
        });
    </script>

</body>

</html>