{% load staticfiles %}
{% load bootstrap %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Sylvia Okafor">

    <title>Casting</title>

    <!-- Favicon Icon -->
    <link rel="shortcut icon" href="http://faviconist.com/icons/de3e284ee55ce978c399cd74f2eab5df/favicon.ico">

    <!-- Bootstrap Core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'profiles/css/clean-blog.min.css' %}" rel="stylesheet">
    <link href="{% static 'profiles/css/flex.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{{ company.name }}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'profiles:profile' company.name member.username %}">Hub</a>
                    </li>
                    <li>
                        <a href="logout/">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url({% static 'profiles/img/casting-bg-2.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Casting</h1>
                        <h2 class="subheading">Manage casting list for the upcoming shows and/or performances</h2>
                        <span class="meta">
                            {% if not company.casting_past_due %}
                                Casting will be public on {{ company.casting_due }}
                            {% else %}
                                Return to your hub to set a new release date for casting.
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- List of Current Casts -->
    <section>
        <div class="container">
            <div class="row">
                {% if cast_list %}
                    {% for cast in cast_list %}
                        <div class="col-md-3 col-sm-4 col-xs-6 portfolio-item">
                            <div class="portfolio-caption" style="display:flex; flex-direction:row; align-items:center">
                                <h4><a href="#{{cast.name}}">{{cast}}</a></h4>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="{{ mem.id }}-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No casts have been added yet.</p>
                {% endif %}
            </div>
        </div>
    </section>

    <!-- Add New Casts -->
    {% if admin %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p class="copyright text-muted"><a data-toggle="modal" href="#" data-target="#form-modal" class="btn btn-lg btn-default" style="text-decoration:none">Add Casts</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- Add Casts Modal -->
    <div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add Casts</h4>
                </div>

                <div class="modal-body"> 
                    <div class="form">
                        <h5>Adding Cast Information</h5>
                        <p>Use the text area below to create casts. List the name of each piece on a separate line, then save. After saving, admins can then add the rest of the casting information (e.g. choreographers and dancers).</p>
                        <form action="{% url 'updates:addCast' company.name member.username %}" method="post">
                        {% csrf_token %}
                            <textarea class="form-control" name="cast_list" placeholder="Piece1" rows="5" cols="50"></textarea> 
                            <button type="submit" class="btn btn-primary" style="margin-top: 7px;">Add</button>
                        </form>
                    </div>  
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div> 

    {% endif %}

    <div class="flexbox" style="width:100%; align-items: flex-start; -webkit-align-items:flex-start;">
        <!-- Current Casts -->
        <section style="width:70%">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <h2 class="section-heading">All Casts</h2>
                        <hr style="width:40%; margin:0">
                        {% if cast_list %}
                            {% for cast in cast_list %}
                                <div id="{{cast.name}}" style="display:flex; flex-direction:row; align-items:center">
                                    <a data-toggle="modal" href="{% url 'updates:updateCastName' company.name member.username cast.id %}" data-target="#cast-{{ cast.id }}-modal" style="text-decoration:none">
                                        <h2 style="margin-right:7px;">{{ cast.name }}</h2>
                                    </a>
                                    <a onclick="return confirm('Are you sure you want to delete {{cast.name}} and all its related information?')" href="{% url 'updates:deleteCast' company.name member.username cast.id %}"><span class="fa fa-minus-circle"></span></a>
                                </div>

                                <!-- Cast Modal -->
                                <div class="modal fade" id="cast-{{ cast.id }}-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                        </div>
                                    </div>
                                </div>    

                                <br>
                                <strong>Choreographer(s):</strong> <a href="#" data-toggle="modal" data-target="#{{ cast.id }}-modal"><span class="fa fa-plus-circle"></span></a>
                                <p><ul style="list-style:none">
                                    {% for choreographer in choreographer_list %}
                                        {% ifequal choreographer.cast cast%}
                                            <li><a href="{% url 'updates:deleteChoreographer' company.name member.username choreographer.id %}" onclick="return confirm('Are you sure you want to delete {{choreographer.member}} from the list of choreographers for {{ choreographer.cast.name }}?')">{{ choreographer.member }}</a></li>
                                        {% endifequal %}
                                    {% endfor %}
                                </ul></p>

                                <strong>Dancer(s):</strong> <a href="#" data-toggle="modal" data-target="#mem-{{ cast.id }}-modal"><span class="fa fa-plus-circle"></span></a>
                                <p><ul style="list-style:none">
                                    {% for mem in cast.member_set.all %}
                                        <li>
                                            <a href="{% url 'updates:deleteCastMem' company.name member.username cast.id mem.id %}" onclick="return confirm('Are you sure you want to delete {{mem}} from the list of dancers in {{cast.name }}?')">{{ mem }}</a>
                                        </li> 
                                    {% endfor %}
                                </ul></p>

                                <!-- Add Choreographer Modal -->
                                <div class="modal fade" id="{{ cast.id }}-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title">Add Choreographer(s)</h4> <!-- figure out the header -->
                                            </div>

                                            <div class="modal-body ">
                                                <div class="form">
                                                    <h5>Adding Members</h5>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius reprehenderit commodi hic quisquam maiores illum ut quod accusantium ad dicta cum inventore fugiat, tenetur, fuga ex perspiciatis quae consequatur assumenda beatae? Obcaecati laboriosam, aut. Reiciendis in, blanditiis recusandae assumenda nemo. Rem vel assumenda aspernatur laboriosam, debitis illum autem exercitationem. Quis.</p>
                                                    <form action="{% url 'updates:addChoreographer' company.name member.username cast.id %}" method="post" class="flexbox">
                                                    {% csrf_token %}        
                                                        {{ form.non_field_errors }}
                                                        <div class="fieldWrapper" style="width:75%">
                                                            {{ form.members.errors }}
                                                            {{ form.members }}
                                                        </div>
                                                        <button type="submit" class="btn btn-primary" style="border-radius:5px; padding:0; margin:0; height:35px; margin-left:5px; width:35px;"><span class="fa fa-plus"></span></button>
                                                        {{ form.media }}
                                                    </form>
                                                </div>  
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div> 

                                <!-- <a data-toggle="modal" href="{% url 'updates:addCastMem' company.name member.username cast.id %}" data-target="#mem-{{ cast.id }}-modal" style="text-decoration:none" class="btn btn-primary">Add Cast Member</a> -->

                                <!-- Add Cast Mem Modal -->
                                <div class="modal fade" id="mem-{{ cast.id }}-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title">Add Cast Member(s)</h4>
                                            </div>

                                            <div class="modal-body ">
                                                <div class="form">
                                                    <h5>Adding Members</h5>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius reprehenderit commodi hic quisquam maiores illum ut quod accusantium ad dicta cum inventore fugiat, tenetur, fuga ex perspiciatis quae consequatur assumenda beatae? Obcaecati laboriosam, aut. Reiciendis in, blanditiis recusandae assumenda nemo. Rem vel assumenda aspernatur laboriosam, debitis illum autem exercitationem. Quis.</p>
                                                    <form action="{% url 'updates:addCastMem' company.name member.username cast.id %}" method="post" class="flexbox">
                                                    {% csrf_token %}        
                                                        {{ form.non_field_errors }}
                                                        <div class="fieldWrapper" style="width:75%">
                                                            {{ form.members.errors }}
                                                            {{ form.members }}
                                                        </div>
                                                        <button type="submit" class="btn btn-primary" style="border-radius:5px; padding:0; margin:0; height:35px; margin-left:5px; width:35px;"><span class="fa fa-plus"></span></button>
                                                        {{ form.media }}
                                                    </form>
                                                </div>  
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div> 

                                <!-- <a data-toggle="modal" href="{% url 'updates:addChoreographer' company.name member.username cast.id %}" data-target="#{{ cast.id }}-modal" style="text-decoration:none" class="btn btn-primary">Add Choreographer</a> -->                                
                                <br>
                            {% endfor %}
                        {% else %}
                            <blockquote>You have not added any casts yet.</blockquote>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>

        <!-- Mini Navbar For My Casts and Pieces (if applicable) -->
        <section style="width:30%; text-align:right; border-left: 1px solid black">
            <div class="container" style="width:100%">

                <!-- Pieces Member is Choreographing -->
                <div class="row">
                    <h2 class="section-heading">My Casts</h2>
                    {% if my_cast_list %}
                        <ul style="list-style-type:none;">
                            {% for item in my_cast_list %}
                            <li><a href="#{{cast.name}}">{{item.cast.name}}</a></li>
                            {% endfor%}
                        </ul>
                    {% else %}
                        <blockquote>You are not choreographing any pieces.</blockquote>
                    {% endif %}
                </div>

                <!-- Pieces Member is In -->
                <div class="row">
                    <h2 class="section-heading">My Pieces</h2>
                    {% if member.cast.all %}
                        <ul style="list-style-type:none;">
                            {% for cast in member.cast.all %}
                            <li><a href="#{{cast.name}}">{{ cast.name }}</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <blockquote>You are not in any pieces.</blockquote>
                    {% endif %}
                </div>
            </div>
        </section>
    </div>
    

    <hr>
    

    

</body>

</html>
