{% load staticfiles %}
{% load bootstrap %}

<head>
    <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="{% static 'profiles/css/test.css' %}" rel="stylesheet">
    <!-- <link href="http://twitter.github.io/typeahead.js/css/examples.css" rel="stylesheet"> -->
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

     <script src="//twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
    <script src="{% static 'profiles/js/typeahead.bundle.min.js' %}"></script> -->
</head>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Add Members</h4> <!-- figure out the header -->
</div>

<div class="modal-body addmembers" style="display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;">
    <!-- box on the left -->
    <div class="box" style="height:375px">
        <h5>Add People w/ Valid NetID</h5>
        <p>Use the text area below to add members (who have valid NetIDs) to your company. Each line should be no more than 3 words, and consist of a NetID/Princeton email, first name, and last name.</p>
        <form action="{% url 'profiles:testing' company_name member_name %}" method="post">
        {% csrf_token %}
            <textarea class="form-control" name="student_list" placeholder="janedoe Jane Doe" rows="3"></textarea> 
            <button type="submit" class="btn btn-primary" style="border-radius:10px; margin-top: 7px;">Add</button>
        </form>
    </div>  
    
    <!-- divider -->
    <div style="width: 1px; height: 325px; background-color: #ccc;">&nbsp;</div>   

    <!-- box on the right -->   
    <div class="box" style="height:375px">
        <h5>Add People w/o Valid NetID</h5>
        <p>User must first create a PRISM account. Then, you may search for them below. <strong>Note: </strong>Once you click a person's name, they are added to your company and given login access to your organization's site.</p>
        <!-- <input id="search" name="s" class="typeahead form-control tt-query tt-hint" autocomplete="off" type="text" placeholder="Jane Doe"> -->
        <form action="">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="fieldWrapper">
                {{ form.users.errors }}
                {{ form.users }}
            </div>
            {{ form.media }}
        </form>
    </div>          
</div>

    <!-- <input id="submit" class="btn btn-primary" type="submit" style="margin-bottom: 5%"> -->

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>





