.addmembers {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	width: 100%;
}

.box {
	text-align: center;
	margin: 0 auto;
	padding: 2% 3%;
	height: 350px;
}

.box p {
	font-size: 70%;
}
